<!DOCTYPE html>

<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANGULARjs</title>
</head>
<body ng-init="data={name: 'Aya', isVisible: true, loggedIn: true, status: 'green'}" >
   <div ng-cloak>
    <div ng-switch on="data.loggedIn" > 
        <div ng-switch-when="true" ng-class="data.status">
            Welcome {{ data.name }}
        </div>
        <div ng-switch-default >Login</div>
    </div>
    <br>
    <div ng-show="data.isVisible">
        Name: <input type="text" ng-model="data.name"/> {{ data.name }}
    </div>
   </div>
   
   
   <!-- <br>
    <div ng-hide="isHidden" ng-cloak>
        Name: <input type="text" ng-model="data.name"/> {{ data.name }} <span ng-bind="data.name"></span>
    </div>
    Hide: <input type="checkbox" ng-model="isHidden"/>
    <br/>
    <button ng-click="name='Tully'">Change Name</button> -->
    
    
    
    <!-- <input type="text" bindProperty="name"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</body>
</html>