

<h2 class="mainHead"> {{ appSettings.title }} </h2>
<!-- Filter: <input type="text" ng-model="customerFilter.name" class="repeat-animation" /> -->
<br /><br />

<!-- <div class="AllItems">
    <div ng-repeat="cust in customers" class="productBox">
       <div>
        <img src="{{cust.img}}" class="itemImg" alt="">
        <p class="itemCat">{{ cust.category }}</p> 
        <h5>{{ cust.name }}</h5> 
        <p>{{ cust.miniDes }}</p>
        <p>{{ cust.price | currency }}</p> 
           
       </div>
       <a href="#/orders/{{ cust.id }}" class="pageLink">View Item >> </a> 
       <button class="btn-primary" ng-click = "add_cart(product)">Add to Favorites</button></td>
       <button type = "button" ng-click = "add_cart(product)"><span class = "glyphicon glyphicon-shopping-cart"></span> Add to cart</button>

    </div>

</div> -->


<div >
    
    <div >
        <div id = "product" class="AllItems">
            <div id = "p_list" ng-repeat = "product in products " class="productBox">
            <!-- <div id = "p_list" ng-repeat = "product in products "> -->
                <img src="{{product.img}}" class="itemImg" alt="">
                <p class="itemCat">{{ product.category }}</p> 
                <h5>{{product.name}}</h5>
                <p>{{ product.miniDes }}</p>
                <p>{{ product.price | currency }}</p> 
                <a href="#/orders/{{ product.id }}" class="pageLink">View Item >> </a> 

                
                <!-- <div><label>Price: ₱{{product.p_price}}</label></div> -->
                <button type = "button" ng-click = "add_cart(product)" class = " favBtn"> Add to Favorites</button>
            </div>
        </div>
    </div>
    <div>
    
                
                
        <h2 class="myFavHead">My Favorites:</h2>
                <div  class="AllItems myFavorites">
                    <div  ng-repeat = "cart in carts " class="productBox">
                    <!-- <div id = "p_list" ng-repeat = "product in products "> -->
                        <img src="{{cart.img}}" class="itemImg" alt="">
                        <p class="itemCat">{{ cart.category }}</p> 
                        <h5>{{cart.name}}</h5>
                        <p>{{ cart.miniDes }}</p>
                        <p>{{ cart.price | currency }}</p> 
                        <!-- <a href="#/orders/{{ product.id }}" class="pageLink">View Item >> </a>  -->
                        <button type = "button" ng-click = "remove_cart(cart)" class = "btn btn-danger">Remove from Favorites</button>
                        </div></div>
