

<h2 class="mainHead"> {{ appSettings.title }} </h2>
<!-- Filter: <input type="text" ng-model="customerFilter.name" class="repeat-animation" /> -->
<br /><br />
<!-- <table class="table table-striped">
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse">
        <td>{{ cust.category }}</td>
        <td>{{ cust.name }}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date }}</td>
        <td><a href="#/orders/{{ cust.id }}">View Item >> </a></td>
        <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)">X</span></td>
    </tr>
</table> -->
<div class="AllItems">
    <div ng-repeat="cust in customers" class="productBox">
       <div>
        <img src="{{cust.img}}" class="itemImg" alt="">
        <p class="itemCat">{{ cust.category }}</p> 
        <h5>{{ cust.name }}</h5> 
        <p>{{ cust.miniDes }}</p>
        <!-- <p>{{ cust.joined | date }}</p> -->
        <p>{{ cust.price | currency }}</p> 
           
       </div>
       <a href="#/orders/{{ cust.id }}" class="pageLink">View Item >> </a> 
       <!-- <p>{{ cust.category }}</p> 
       <p>{{ cust.name }}</p> 
       <p>{{ cust.orderTotal | currency }}</p> 
       <p>{{ cust.joined | date }}</p> 
       <p><a href="#/orders/{{ cust.id }}">View Item >> </a></p>  -->
    </div>

</div>

<br />
<!-- <span>Total Items: {{ customers.length }}</span> -->
<br /><br />
<footer>
    <ul class="footerMenu">
        <li>Version: {{ appSettings.version }} </li>
        <li>link</li>
        <li>link</li>
    </ul>
</footer>