

<h2 class="mainHead"> {{ appSettings.title }} </h2>
<!-- Filter: <input type="text" ng-model="customerFilter.name" class="repeat-animation" /> -->
<br /><br />

<!-- <div class="AllItems">
    <div ng-repeat="cust in customers" class="productBox">
       <div>
        <img src="{{cust.img}}" class="itemImg" alt="">
        <p class="itemCat">{{ cust.category }}</p> 
        <h5>{{ cust.name }}</h5> 
        <p>{{ cust.miniDes }}</p>
        <p>{{ cust.price | currency }}</p> 
           
       </div>
       <a href="#/orders/{{ cust.id }}" class="pageLink">View Item >> </a> 
       <button class="btn-primary" ng-click = "add_cart(product)">Add to Favorites</button></td>
       <button type = "button" ng-click = "add_cart(product)"><span class = "glyphicon glyphicon-shopping-cart"></span> Add to cart</button>

    </div>

</div> -->


<div >
    
    <div id = "bg-background" class = " col-md-7">
        <!-- <h4>PRODUCTS<h4> -->
        <!-- <hr style = "border-top:1px groovy #ccc;"> -->
        <div id = "product" class="AllItems">
            <div id = "p_list" ng-repeat = "product in products " class="productBox">
            <!-- <div id = "p_list" ng-repeat = "product in products "> -->
                <img src="{{product.img}}" class="itemImg" alt="">
                <p class="itemCat">{{ product.category }}</p> 
                <h5>{{product.name}}</h5>
                <p>{{ product.miniDes }}</p>
                <p>{{ product.price | currency }}</p> 
                <a href="#/orders/{{ product.id }}" class="pageLink">View Item >> </a> 

                <center><img ng-src = "{{product.p_image}}"/></center>
                <!-- <div><label>Price: ₱{{product.p_price}}</label></div> -->
                <center><button type = "button" ng-click = "add_cart(product)"><span class = "glyphicon glyphicon-shopping-cart"></span> Add to Favorites</button></center>
            </div>
        </div>
    </div>
    <div>
        <div class = "panel panel-primary">
            <div class = "panel-heading">
                <h5>My Favorites</h5>
            </div>
            <div class = "panel-body table-responsive">
                
                
                <div id = "product" class="AllItems">
                    <div id = "p_list" ng-repeat = "cart in carts " class="productBox">
                    <!-- <div id = "p_list" ng-repeat = "product in products "> -->
                        <img src="{{cart.img}}" class="itemImg" alt="">
                        <p class="itemCat">{{ cart.category }}</p> 
                        <h5>{{cart.name}}</h5>
                        <p>{{ cart.miniDes }}</p>
                        <p>{{ cart.price | currency }}</p> 
                        <!-- <a href="#/orders/{{ product.id }}" class="pageLink">View Item >> </a>  -->
                        </div></div>
            </div>
        </div>
    </div>
</div>